<ActionBar title="Реєстрація">
    <NavigationButton android:icon="font://&#xf30a;" class="fas" (tap)="goBack()" marginRight="0" paddingRight="0"
	(tap)="routerExtensions.backToPreviousPage()">
    </NavigationButton>
    <!-- <NavigationButton icon="res://home" (tap)="routerExtensions.backToPreviousPage()"></NavigationButton> -->
</ActionBar>

<GridLayout>
    <ScrollView>
        <StackLayout class="home-panel">
            <TextField [(ngModel)]="accountingPointName"
                hint="Особовий рахунок" style="placeholder-color: gray;"
                fontSize="20%">
            </TextField>

            <TextField [(ngModel)]="ownerLastName" hint="Прізвище"
                fontSize="20%" style="placeholder-color: gray;">
            </TextField>
            <ActivityIndicator [busy]="isBusy">
            </ActivityIndicator>
            <Button text="Продовжити" (tap)="signUp()"
                class="-primary" [isEnabled]="ownerLastName.length > 1 && accountingPointName.length > 7 && !isBusy">
            </Button>
        </StackLayout>
    </ScrollView>
</GridLayout>