<ActionBar title="Реєстрація" class="action-bar">
    <NavigationButton android:icon="res://ic_arrow_back_black_24dp"  marginRight="0" paddingRight="0"
	(tap)="routerExtensions.backToPreviousPage()" *ngIf="!isFirstRegistration">
    </NavigationButton>
</ActionBar>

<GridLayout>
    <ScrollView>
        <StackLayout class="home-panel">
            <TextField [(ngModel)]="accountingPointName" hint="Особовий рахунок" fontSize="22">
            </TextField>
            <TextField [(ngModel)]="ownerLastName" hint="Прізвище"  autocorrect="false" fontSize="22" >
            </TextField>
            <ActivityIndicator [busy]="isBusy">
            </ActivityIndicator>
            <Button text="Продовжити" (tap)="signUp()"
                class="-primary" [isEnabled]="ownerLastName.length > 1 && accountingPointName.length > 7 && !isBusy">
            </Button>
        </StackLayout>
    </ScrollView>
</GridLayout>