.card
{
    /* border-bottom-width:1; */
    background: rgb(218, 233, 209);
    /*border-color: rgb(155, 171, 175); */
    font-size:15;
}

:host-context(.ns-dark) .card {
    background-color:gray;
}
.title
{
    color: rgb(74, 69, 92);
}