<ActionBar title="Особові рахунки">
    <ActionItem ios.systemIcon="4" ios.position="right" android.systemIcon="ic_input_add"
    (tap)="routerExtensions.navigate(['/registration'])"></ActionItem>
</ActionBar>
<RadListView #accountingPointListView [items]="accountingPoints" (itemTap)="itemTap($event)" swipeActions="true"
   (itemSwipeProgressStarted)="onSwipeCellStarted($event)" >
    <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
        <StackLayout padding="0">
        <accounting-point [accountingPoint]="item"></accounting-point>
        <StackLayout height="1" ></StackLayout>
    </StackLayout>
    </ng-template>
    <GridLayout *tkListItemSwipeTemplate columns="auto, *, auto" class="gridLayoutLayout">
        <StackLayout id="mark-view" col="0" (tap)="onLeftSwipeClick($event)">
            <Label text="mark"  verticalAlignment="center"
                horizontalAlignment="center"></Label>
        </StackLayout>
        <StackLayout id="delete-view" col="2"  (tap)="onRightSwipeClick($event)">
            <Label text="delete"  verticalAlignment="center" backgroundColor="red"
                horizontalAlignment="center"></Label>
        </StackLayout>
    </GridLayout>
</RadListView>