<ActionBar class="action-bar" title="Підтвердження особового рахунку">
    <NavigationButton android:icon="res://ic_arrow_back_black_24dp"  marginRight="0" paddingRight="0"
	(tap)="routerExtensions.backToPreviousPage()"></NavigationButton>
</ActionBar>
<ScrollView class="page">
    <StackLayout class="home-panel">
        <Label [text]="newAccountingPoint.address" class="font-weight-bold"></Label>
        <Label [text]="newAccountingPoint.owner.fullName"></Label>
        <Label [text]="newAccountingPoint.ren"></Label>
        <Label [text]="newAccountingPoint.name"></Label>
        <Button text="Зберегти" (tap)="save()" class="-primary" >
        </Button>
    </StackLayout>
</ScrollView>